#contact-section {
  padding: 50px 0;
  color: #1f2833;
}

.contact-links {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.section-link {
  color: #1f2833;
  text-decoration: none;
}

.section-link:hover {
  color: #3aafa9;
}

.seperator {
  padding: 0 30px;
}

#footer {
  text-align: center;
  font-size: 10px;
}
