<section id="contact-section">
    <div class="section-title text-center">Contact me!</div>
    <hr>
    <div class="contact-links">
        <a target="_blank" class="section-link" href="mailto:joshua.a.motta@gmail.com">Joshua.A.Motta@gmail.com</a>
        <span class="seperator">|</span>
        <a target="_blank" class="section-link" href="https://www.linkedin.com/in/joshua-motta/">LinkedIn</a>
        <span class="seperator">|</span>
        <a target="_blank" class="section-link" href="https://github.com/jmotts17">github</a>
    </div>
    <div id="footer">Made by Joshua Motta &copy; 2021</div>
</section>
