.project-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 50px 100px rgb(50 50 93 / 5%), 0 15px 35px rgb(50 50 93 / 10%),
    0 5px 15px rgb(0 0 0 / 10%);
  padding: 3rem;
  margin: 5rem;
}

.project-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.project-desc {
  margin-bottom: 2rem;
}

.project-languages-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-languages {
  /* border: 3px solid #45a29e; */
  border: 3px solid #3aafa9;
  padding: 5px;
  border-radius: 10px;
  margin-right: 10px;
}

.project-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.project-link {
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  padding: 15px;
  border-radius: 10px;
  background-color: #1f2833;
  color: #66fcf1;
  font-weight: 500;
  text-decoration: none;
}

.project-source {
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  padding: 15px;
  border-radius: 10px;
  background-color: #66fcf1;
  color: #1f2833;
  font-weight: 500;
  text-decoration: none;
  margin-left: 2rem;
}

/* Float Shadow */
/* https://ianlunn.github.io/Hover/#effects */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
