<section id="project-section">
    <h1 class="section-title text-center">- Projects -</h1>
    <div class="container-lg">
        <div class="project-container">
            <h2>Great American Bike Rally</h2>
            <p>My first website experience. This website was created in 2019 for a local charity. Some of the requirements were to have a sign up form that could receieve a payment and be exported to an excel document. The website also needed to be able to take donations.</p>
            <div>
                <span class="project-languages text-bold">Wordpress</span>
                <span class="project-languages text-bold">CSS</span>
            </div>
        </div>
    </div>

    <!-- <div class="container-lg">
        <div class="project-container">
            <h2>Pipers Pups</h2>
            <p>My first website experience using HTML and CSS. This was created in mid 2019 for a local startup business. This website required a contact form, a downloadable PDF agreement and a way to accept payment.</p>
            <div>
                <span class="project-languages text-bold">HTML</span>
                <span class="project-languages text-bold">CSS</span>
                <span class="project-languages text-bold">Sass</span>
            </div>
        </div>
    </div> -->
</section>