<section id="project-section">
    <div class="section-title text-center">Projects</div>
    <hr>
    <div class="container-lg">
        <div class="project-container">
            <div class="project-title">Great American Bike Rally</div>
            <div class="project-desc">My first website experience. This website was created in 2019 for a local charity. Some of the requirements were to have a sign up form that could receieve a payment and be exported to an excel document. The website also needed to be able to take donations.</div>
            <div class="project-languages-container">
                <span class="project-languages text-bold">Wordpress</span>
                <span class="project-languages text-bold">CSS</span>
            </div>
            <div class="project-links-container">
                <a target="_blank" class="project-link" href="https://greatamericanbikerally.com/">View Website <i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
    </div>

    <div class="container-lg">
        <div class="project-container">
            <div class="project-title">Pipers Pups</div>
            <div class="project-desc">My first website experience using HTML and CSS. This was created in mid 2019 for a local startup business. This website required a contact form, a downloadable PDF agreement and a way to accept payment.</div>
            <div class="project-languages-container">
                <span class="project-languages text-bold">HTML</span>
                <span class="project-languages text-bold">CSS</span>
                <span class="project-languages text-bold">Sass</span>
            </div>
            <div class="project-links-container">
                <a target="_blank" class="project-link" href="https://unruffled-lamarr-b5c1fe.netlify.app">View Website <i class="fas fa-external-link-alt"></i></a>
                <a target="_blank" class="project-source" href="https://github.com/jmotts17/Pipers_Pups"><i class="fab fa-github"></i> View Source</a>
            </div>
        </div>
    </div>
</section>