<section id="project-section">
    <div class="section-title text-center">Projects</div>
    <hr>

    <!-- Great American Bike Rally -->
    <div class="container-lg">
        <div class="project-container">
            <div class="project-title">Great American Bike Rally</div>
            <div class="project-desc">My first website experience. This website was created in 2019 for a local charity. Some of the requirements were to have a sign up form that could receieve a payment and be exported to an excel document. The website also needed to be able to take donations.</div>
            <div class="project-languages-container">
                <span class="project-languages text-bold">Wordpress</span>
                <span class="project-languages text-bold">CSS</span>
            </div>
            <div class="project-links-container">
                <a target="_blank" class="project-link hvr-radial-in" href="https://greatamericanbikerally.com/">View Website <i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
    </div>

    <!-- Pipers Pups -->
    <div class="container-lg">
        <div class="project-container">
            <div class="project-title">Pipers Pups</div>
            <div class="project-desc">My first website experience using HTML and CSS. This was created in mid 2019 for a local startup business. This website required a contact form, a downloadable PDF agreement and a way to accept payment.</div>
            <div class="project-languages-container">
                <span class="project-languages text-bold">HTML</span>
                <span class="project-languages text-bold">CSS</span>
                <span class="project-languages text-bold">Sass</span>
            </div>
            <div class="project-links-container">
                <a target="_blank" class="project-link" href="https://unruffled-lamarr-b5c1fe.netlify.app">View Website <i class="fas fa-external-link-alt"></i></a>
                <a target="_blank" class="project-source" href="https://github.com/jmotts17/Pipers_Pups"><i class="fab fa-github"></i> View Source</a>
            </div>
        </div>
    </div>

    <!-- BMDB -->
    <div class="container-lg">
        <div class="project-container">
            <div class="project-title">Movie Database | BMDB</div>
            <div class="project-desc">BMDB is a movie database that stores movies, actors and genres. This project was built upon throughout bootcamp as learning exercise.</div>
            <div class="project-languages-container">
                <span class="project-languages text-bold">MySQL</span>
                <span class="project-languages text-bold">Java</span>
                <span class="project-languages text-bold">Spring</span>
                <span class="project-languages text-bold">HTML</span>
                <span class="project-languages text-bold">CSS</span>
                <span class="project-languages text-bold">TypeScript</span>
                <span class="project-languages text-bold">Angular</span>
                <span class="project-languages text-bold">Bootstrap</span>
            </div>
            <div class="project-links-container">
                <a target="_blank" class="project-source" href="https://github.com/jmotts17/bmdb-ng"><i class="fab fa-github"></i> View Source</a>
            </div>
        </div>
    </div>

    <!-- Purchase Request System -->
    <div class="container-lg">
        <div class="project-container">
            <div class="project-title">Purchase Request System | PRS</div>
            <div class="project-desc">The PRS was the capstone project for the bootcamp I atteneded in 2020-2021. This project was built upon as we covered each topic over the course of 6 months. The purchase request system allows company employees to submit requests to purchase items from specific vendors with approval from management as determined through business rules.</div>
            <div class="project-languages-container">
                <span class="project-languages text-bold">MySQL</span>
                <span class="project-languages text-bold">Java</span>
                <span class="project-languages text-bold">Spring</span>
                <span class="project-languages text-bold">HTML</span>
                <span class="project-languages text-bold">CSS</span>
                <span class="project-languages text-bold">Bootstrap</span>
                <span class="project-languages text-bold">TypeScript</span>
                <span class="project-languages text-bold">Angular</span>
            </div>
            <div class="project-links-container">
                <a target="_blank" class="project-source" href="https://github.com/jmotts17/prs-ng"><i class="fab fa-github"></i> View Source</a>
            </div>
        </div>
    </div>

    <!-- Portfolio Page -->
    <div class="container-lg">
        <div class="project-container">
            <div class="project-title">Portfolio Page</div>
            <div class="project-desc">This page! This project was created to give a quick and simple way to showcase some of the projects that I've completed.</div>
            <div class="project-languages-container">
                <span class="project-languages text-bold">HTML</span>
                <span class="project-languages text-bold">CSS</span>
                <span class="project-languages text-bold">Bootstrap</span>
                <span class="project-languages text-bold">Angular</span>
            </div>
            <div class="project-links-container">
                <a target="_blank" class="project-link" href="https://elegant-borg-c80a48.netlify.app/">View Website <i class="fas fa-external-link-alt"></i></a>
                <a target="_blank" class="project-source" href="https://github.com/jmotts17/portfolio-ng"><i class="fab fa-github"></i> View Source</a>
            </div>
        </div>
    </div>
</section>