<section id="home-section">
    <div class="container-lg">
        <div class="section-container">
            <h1>System.out.println("<span class="section-title">About</span>");</h1>
            <ul id="home-about">
                <li>String <span class="text-bold">name</span> = "Joshua Motta";</li>
                <li>String <span class="text-bold">location</span> = "West Chester, OH";</li>
                <li>String[] <span class="text-bold">interests</span> = ["Computers", "Cycling", "Reading"];</li>
                <li>String[] <span class="text-bold">education</span> = ["Full Stack Java Bootcamp - Max Technical Training", "Sinclair Community College: C++ | Java I & II"];</li>
                <li>String[] <span class="text-bold">skills</span> = ["Java", "HTML", "CSS", "Sass", "JavaScript", "TypeScript", "Angular", "Bootstrap", "MySQL", "Git"];</li>
            </ul>
        </div>
    </div>
</section>