<section id="home-section">
    <div class="container-lg">
        <div class="my-5">
            <div class="section-title">Joshua Motta</div>
            <div class="section-content">I am an aspiring software developer. My goal is to make efficient and effective applications for customers. <br>Check out my <a class="section-link" href="#project-section">projects</a> below.</div>
        </div> 
        <div class="section-container">
            <div class="section-title text-center">Developer JM</div>
            <ul id="home-about">
                <li>
                    > JM.currentLocation<br>
                    <span class="output">"West Chester, OH"</span>
                </li>
                <li>
                    > JM.contactInfo <br>
                    <span class="output">["<a target="_blank" class="section-link" href="mailto:joshua.a.motta@gmail.com">Joshua.A.Motta@gmail.com</a>", 
                    "<a target="_blank" class="section-link" href="https://www.linkedin.com/in/joshua-motta/">LinkedIn</a>", 
                    "<a target="_blank" class="section-link" href="https://github.com/jmotts17">github</a>"]</span>
                </li>
                <li>
                    > JM.resume <br>
                    <span class="output">"<a class="section-link" target="_blank" href="./../../../assets/J Motta - JAVA Software Developer.pdf">jmotta.pdf</a>"</span>
                </li>
                <li>
                    > JM.interests <br>
                    <span class="output">["Technology", "Cycling", "Reading"]</span>
                </li>
                <li>
                    > JM.education <br>
                    <span class="output">["Full Stack Java Bootcamp - Max Technical Training", "Sinclair Community College: C++ | Java I & II"]</span>
                </li>
                <li>
                    > JM.skills <br>
                    <span class="output">["Java", "HTML", "CSS", "Sass", "JavaScript", "TypeScript", "Angular", "Bootstrap", "MySQL", "Git"]</span>
                </li>
            </ul>
        </div>
    </div>
</section>